.venv/
venv/
__pycache__/
*.pyc

.env
.env.*
!.env.example

media/input/*
media/output/*
media/audio/*
media/cache/*
!media/input/.gitkeep
!media/output/.gitkeep
!media/audio/.gitkeep
!media/cache/.gitkeep

.git/
.gitignore

*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.zip
